.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#logout-form {
  display: inline;
}
#logout-form button {
  padding: 0;
  margin: 0;
}

.custom-form-container {
    width: 100%;           
    max-width: 600px;       
    padding: 30px;          
    
    margin: 60px 0 0 -400px;        
    
    border: 1px solid #8e8888;
    border-radius: 10px;
    background-color: white; 
}