{% load allauth %}
{% if attrs.href %}
    <a href="{{ attrs.href }}"
       class="btn 
       {% if 'danger' in attrs.tags %}btn-danger
       {% elif 'secondary' in attrs.tags %}btn-secondary
       {% elif 'outline' in attrs.tags %}btn-outline-dark
       {% else %}btn-primary{% endif %}
       
       {% if 'sm' in attrs.tags %}btn-sm{% endif %}
       {% if 'lg' in attrs.tags %}btn-lg{% endif %}
       {{ attrs.class }}"
       {% if attrs.id %}id="{{ attrs.id }}"{% endif %}>
        {% slot %}{% endslot %}
    </a>
{% else %}
    <button type="{{ attrs.type|default:'submit' }}"
            class="btn 
            {% if 'danger' in attrs.tags %}btn-danger
            {% elif 'secondary' in attrs.tags %}btn-secondary
            {% elif 'outline' in attrs.tags %}btn-outline-dark
            {% else %}btn-primary{% endif %}
            
            {% if 'sm' in attrs.tags %}btn-sm{% endif %}
            {% if 'lg' in attrs.tags %}btn-lg{% endif %}
            w-auto {{ attrs.class }}"
            {% if attrs.form %}form="{{ attrs.form }}"{% endif %}
            {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
            {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
            {% if attrs.value %}value="{{ attrs.value }}"{% endif %}
            {% if attrs.disabled %}disabled{% endif %}>
        {% slot %}{% endslot %}
    </button>
{% endif %}