{% extends "base_generic.html" %}

{% block content %}
    <div class="container-fluid">

        <div class="row justify-content-center align-items-center" style="min-height: 60vh;">
            <div class="col-12 d-flex justify-content-center">
                
                <div class="custom-form-container">
                    {% block inner_content %}
                    {% endblock inner_content %}
                </div>

            </div>
        </div>
    </div>
{% endblock content %}